<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- HTML5 -->
<meta charset="utf-8" />

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<link rel="stylesheet" href="style/style.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper paymentNavBar">
				<a href="#" class="brand-logo">Pagamentos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/payments">Página inicial</a></li>
					<li><a href="#">Relatórios</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<table>
		<thead>
			<tr>
				<th>Mês</th>
				<th>Data</th>
				<th>Observação</th>
				<th>Visualizar</th>
				<th>Excluir</th>
				<th>Valor total:</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="payment : ${payments}">

				<td><a
					th:href="${(#mvc.url('PC#paymetDetails').arg(0, payment.id)).build()}"><span
						th:text="${payment.description}"> </span></a></td>
				<td><span th:text="${payment.data}"> </span></td>
				<td><span th:text="${payment.note}"> </span></td>
				<td><a
					th:href="${(#mvc.url('PC#paymetDetails').arg(0, payment.id)).build()}"
					class="waves-effect waves-light btn-small"> <i
						class="material-icons left">list</i>Contas
				</a></td>
				<td><a th:href="${(#mvc.url('PC#deletePayment').arg(0, payment.id)).build()}" 
					class="btn-floating btn-small waves-effect waves-light black btnDeletEdit"><i
						class="material-icons">delete</i></a></td>
						
				<td><span th:text="${payment.total}"> </span></td>
			</tr>

		</tbody>

	</table>

	<h4>
		<a href="/createPayment"
			class="btn-floating btn-large waves-effect waves-light red"><i
			class="material-icons left">add</i>Cadastrar pagamento</a>
	</h4>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>