<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- HTML5 -->
<meta charset="utf-8" />

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<h2>Pagamento</h2>
	
	<h4>
		<a href="/payments" class="waves-effect waves-light btn"><i
			class="material-icons left">arrow_back</i>Voltar</a>
	</h4>
	
	<div th:each="payment : ${payment}" >
		<div class="row" >
			<p>Descrição: <span th:text="${payment.description}"></span></p>
			<p>Data: <span th:text="${payment.data}"></span></p>
			<p>Observações: <span th:text="${payment.note}"></span></p>
		</div>
	</div>
	
	
	<form method="post">
		Conta: <input type="text" value="" name="billName"/>
		Valor: <input type="number" value="" name="value"/>
		Observação: <input type="text" value="" name="note"/>
		<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
	</form>
	
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>